@model IEnumerable<StorySite.Models.StoryViewModel>

<h2>Stories for Prompt</h2>

<table>
    <thead>
        <tr>
            <th>Content</th>
            <th>Created By</th>
            <th>Created On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var story in Model)
        {
            <tr>
                <td>@story.StoryContent</td>
                <td>@story.UserName</td>
                <td>@story.StoryDateCreated.ToString("MMMM dd, yyyy")</td>

            </tr>
        }
    </tbody>
</table>
